# IMDB Data Exploration

A separate notebook for querying the IMDb database file.

In [6]:
import pandas as pd 
import sqlite3

In [8]:
con = sqlite3.connect('../data/raw/im.db')

In [9]:
%%bash 

sqlite3 ../data/raw/im.db
.tables

directors      movie_akas     movie_ratings  principals
known_for      movie_basics   persons        writers

In [10]:
%%bash

sqlite3 ../data/raw/im.db 
.schema

CREATE TABLE IF NOT EXISTS "movie_basics" (
"movie_id" TEXT,
  "primary_title" TEXT,
  "original_title" TEXT,
  "start_year" INTEGER,
  "runtime_minutes" REAL,
  "genres" TEXT
);
CREATE TABLE IF NOT EXISTS "directors" (
"movie_id" TEXT,
  "person_id" TEXT
);
CREATE TABLE IF NOT EXISTS "known_for" (
"person_id" TEXT,
  "movie_id" TEXT
);
CREATE TABLE IF NOT EXISTS "movie_akas" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "title" TEXT,
  "region" TEXT,
  "language" TEXT,
  "types" TEXT,
  "attributes" TEXT,
  "is_original_title" REAL
);
CREATE TABLE IF NOT EXISTS "movie_ratings" (
"movie_id" TEXT,
  "averagerating" REAL,
  "numvotes" INTEGER
);
CREATE TABLE IF NOT EXISTS "persons" (
"person_id" TEXT,
  "primary_name" TEXT,
  "birth_year" REAL,
  "death_year" REAL,
  "primary_profession" TEXT
);
CREATE TABLE IF NOT EXISTS "principals" (
"movie_id" TEXT,
  "ordering" INTEGER,
  "person_id" TEXT,
  "category" TEXT,
  "job" TEXT,
  "characters" TEXT
);
CREATE TABLE IF NOT EXISTS "writers" (
"movie_id" TEXT,
  "person_id" TEXT
);

In [24]:
query = \
"""
SELECT *
FROM movie_basics

"""

In [21]:
df_movie_akas = pd.read_sql(query, con)
df_movie_akas.sample(20)

,movie_id,ordering,title,region,language,types,attributes,is_original_title
180384,tt4082068,8,Дийпан - съдбата на бежанеца,BG,bg,None,None,0.0
251843,tt7297844,2,Kathanayagan,None,None,original,None,1.0
165858,tt1530509,4,A Centopeia Humana 2,BR,None,imdbDisplay,None,0.0
195028,tt2783138,1,Lagunemine,IT,None,None,None,0.0
191928,tt6079632,1,Skin Deep Fairytale,XWW,en,imdbDisplay,None,0.0
154082,tt3006814,5,Paulo Coelho's Best Story,US,None,imdbDisplay,None,0.0
300390,tt4148942,1,Arc de Barà,ES,None,None,None,0.0
317301,tt5469884,1,Dareun giri itda,None,None,original,None,1.0
121721,tt1031658,4,The Ugly Life of a Beautiful Girl,None,None,working,None,0.0
311318,tt4154756,12,Osvetnici: Rat beskraja,RS,None,imdbDisplay,None,0.0
310873,tt3528720,2,Devil's Watch,US,None,alternative,None,0.0
229862,tt6843600,2,Najsledovanejsí,SK,None,imdbDisplay,None,0.0
89342,tt1181614,22,Грозовой перевал,RU,None,None,None,0.0
212340,tt5149852,1,The Popular Kids,US,None,None,None,0.0
191517,tt5724564,1,Hart Lines: Red Bull Signature Series,US,None,None,None,0.0
79495,tt1833673,9,Dhoom 3,US,None,imdbDisplay,None,0.0
290769,tt6869538,2,Detective Dee e i quattro Re celesti,IT,None,imdbDisplay,None,0.0
254178,tt5732482,2,Ханс Циммер: Live in Prague,RU,None,None,None,0.0
291506,tt4126568,13,Над глубиной: Хроника выживания,RU,None,None,None,0.0
102556,tt3224220,1,Hak na'Sarakham,TH,None,None,None,0.0

In [23]:
df_movie_akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 331703 entries, 0 to 331702
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   movie_id           331703 non-null  object
 1   ordering           331703 non-null  int64
 2   title              331703 non-null  object
 3   region             278410 non-null  object
 4   language           41715 non-null   object
 5   types              168447 non-null  object
 6   attributes         14925 non-null   object
 7   is_original_title  331678 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 20.2+ MB

In [25]:
df_movie_basics = pd.read_sql(query, con)
df_movie_basics.sample(20)

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
24825,tt1996427,Tiempos menos modernos,Tiempos menos modernos,2011,95.0,Drama
65833,tt3755522,VolcanoScapes... Dancing with the Goddess,VolcanoScapes... Dancing with the Goddess,2014,105.0,"Adventure,Documentary,History"
12502,tt1663970,A Drummer's Dream,A Drummer's Dream,2010,84.0,Documentary
11451,tt1631449,Soñadores en el hospicio: Rompiendo los muros,Soñadores en el hospicio: Rompiendo los muros,2010,52.0,"Documentary,Drama"
81707,tt4697026,Singham123,Singham123,2015,116.0,"Action,Comedy"
44419,tt2638450,Get Better,Get Better,2012,102.0,Drama
11547,tt1634141,Kill Keith,Kill Keith,2011,93.0,"Comedy,Horror"
18286,tt1808076,Documenting the Grey Man,Documenting the Grey Man,2011,73.0,Horror
44059,tt2622294,Bleeding Hearts,Bleeding Hearts,2015,100.0,Horror
33065,tt2238086,The Cardboard Bernini,The Cardboard Bernini,2012,80.0,"Biography,Documentary"
100003,tt5843096,A Way Out,A Way Out,2017,94.0,Documentary
62279,tt3587286,In Search of the Kushtaka,In Search of the Kushtaka,2014,NaN,Documentary
64966,tt3716642,L'aventure est un secret,L'aventure est un secret,2014,60.0,Documentary
5541,tt1087459,The Last Musketeer,The Last Musketeer,2010,NaN,Drama
76933,tt4405736,Flatball,Flatball,2016,90.0,"Documentary,Sport"
127987,tt7856162,Cortejar a Ilha,Cortejar a Ilha,2015,75.0,Comedy
140949,tt9169974,Nakee 2,Nakee 2,2018,93.0,"Fantasy,Romance"
85736,tt4963900,Cold War Secrets: Stealing the Atomic Bomb,Deux bombes pour une espionne,2015,52.0,Documentary
80781,tt4643142,Sinbad: The Flying Princess and the Secret Isl...,Sinbad: soratobu hime to himitsu no shima Part 3,2016,51.0,"Action,Adventure,Animation"
3496,tt10340748,Rumah Kentang: The Beginning,Rumah Kentang: The Beginning,2019,NaN,Horror

In [26]:
df_movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB